<!DOCTYPE html>
<html>
<head>
  <title>InspireBoard</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="logo">
      <h2>Inspire Board</h2>
    </div>
  </div>
  <%= render 'content' %>
  <%= yield :javascript %>
</body>
</html>