<!DOCTYPE html>
<html>
<head>
  <title>InspireBoard</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Inspire Board</h1>
  <%= render 'content' %>
  
  <%= yield :javascript %>
</body>
</html>

